default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  host: localhost

development:
  <<: *default
  database: tru_vision_development

test:
  <<: *default
  database: tru_vision_test

production:
  <<: *default
  database: tru_vision_production
