.marginb {
  margin-bottom: 50px;
}

.product-cart-image {
  width: 130px;
}

#coupon-code {
  width: 110% !important;
}

.table-item {
  margin-top: 35%;
}

.table tbody > tr > td{
    vertical-align: middle;
}

.header-margin {
  margin-top: 40px;
}

.price-td {
  text-align: right;
}

select.special { width: 75%;text-align-last:center; text-align:center; }

.checkout-bottom {
  border: 1px solid #eceeef !important;
  height: 50px;
  vertical-align: middle;
}

.checkout-bottom h5 {}

table.table-hover {
  margin-bottom: 0px !important;
}

table.table-bordered {
  border: none;
}
