.marginb {
  margin-bottom: 50px;
}

.product-cart-image {
  width: 120px;
}

#coupon-code {
  width: 201px !important;
}

.table-item {
  margin-top: 35%;
}

.table tbody > tr > td{
    vertical-align: middle;
}

.header-margin {
  margin-top: 40px;
}
